<!DOCTYPE html>
<html lang="de">
<head>
  <title>SSB</title>
  {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="/static/manifest.json">
  <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
</head>
<body>
  <div id="wrapper">
    <aside>
      <nav>
        {% for dest,name in dest_buttons %}
          <a href="/dest/{{ dest }}">{{ name }}</a>
        {% endfor %}
      </nav>
    </aside>
    <main>